* {
	outline: none;
}

body {
	margin: 0;
	color: white;
	background-color: #292b2c;
}

body, button, select {
	font-family: "Noto Sans KR";
}

input {
	font-family: 'Exo 2';
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
	text-align: center;
	font-family: 'Exo 2', 'Noto Sans KR';
}

button {
	border: none;
	color: white;
	background-color: #292b2c;
	font-size: 100%;
	padding: 0.5em 1em;
	border-radius: 4px;
}

button:disabled {
	opacity: 0.5;
}

.game-button-group {
	display: flex;
	justify-content: center;
}

#start {
	background-color: #007BFF;
}

#stop {
	background-color: #DC3545;
}

#next {
	background-color: #28A745;
}

#random {
	background-color: #17A2B8;
}

.area {
	display: flex;
	justify-content: center;
}

#first-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#second-wrapper {
	width: 320px;
}

#preview-canvas {
	width: 250px;
}

#story {
	margin: auto;
	font-weight: bold;
}

#config {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 250px;
	height: 350px;
	right: 50px;
	top: 5px;
	background-color: #292b2c;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0 1px 3px #00000080;
}

#config[hidden] {
	display: none;
}

div.item * {
	vertical-align: middle;
}

.config-label { 
	font-weight: bold;
	padding: 0.25em 1em;
	cursor: default;
}

button.sizer {
	box-shadow: 0 1px 3px #00000080;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	width: 39px;
	height: 39px;
	padding: 0;
	border-radius: 50%;
}

#size-view {
	font-family: 'Exo 2';
	font-size: 1.2em;
	width: 45px;
	display: inline-block;
	text-align: center;
}

select {
	font-size: 100%;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	background-color: #313435;
	box-shadow: 0 1px 3px #00000080;
	display: inline-block;
	text-align: center;
	padding: 0.2em 1.2em;
}

input[type="radio"][name="blank-pos"] + label {
	font-size: 120%;
}

input:checked[type="radio"] + label {
	background-color: #007BFF;
	z-index: 1;
}

#config-close {
	box-shadow: 0 1px 3px #00000080;
}


#article {
	width : calc(1280px - 20vw);
	max-width: calc(100vw - 2em);
	margin: auto;
}

ul {
	padding-inline-start: 20px;
}

ul li {
	margin-bottom: 1em;
}

.floating {
	position: fixed;
	top: 4px;
	right: 4px;
}

.floating button {
	box-shadow: 0 1px 3px #00000080;
	margin: 2px;
	padding: 0;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	border-radius: 20px;
}

footer {
	padding-top: 45px;
	padding-bottom: 25px;
	text-align: center;
}

@media (max-width : 767px) {
	.area-fit {
		flex-direction: column;
		align-items: center;
	}
	#puzzle-preview {
		text-align: center;
	}
	#preview-canvas {
		width: 200px;
	}
}
