<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	<title>LAST_ORIGIN Slide Puzzle</title>
</head>
<body>
	<div class="game-button-group" style="margin: 10px;">
		<button id="start">시작하기</button>
		<button id="stop" hidden>그만두기</button>
		<button id="next" hidden>다음 퍼즐</button>
		<button id="random">무작위</button>
	</div>
	<div class="area area-fit">
		<div id="first-wrapper">
			<canvas id="timer-canvas" width="480" height="60" style="width: 240px;"></canvas>
			<canvas id="game-canvas" width="720" height="720" style="width: 360px;"></canvas>
		</div>
		<div id="second-wrapper">
			<div id="puzzle-preview">
				<canvas id="preview-canvas" width="400" height="400"></canvas>
			</div>
			<div id="story" hidden></div>
		</div>
	</div>

	<div id="config" hidden>
		<div class="item">
			<span class="config-label">크기</span>
			<button id="size-decrease" class="sizer" disabled>-</button>
			<span id="size-view">3</span>
			<button id="size-increase" class="sizer">+</button>
		</div>
		<div class="item"><label class="config-label" for="puzzle-selector">퍼즐셋</label><select id="puzzle-selector"></select></div>
		<div class="item">
			<div class="config-label">완성된 퍼즐에서 빈 칸의 위치</div>
			<div style="text-align: center;">
			<input type="radio" name="blank-pos" id="blank-pos-top-left"><label for="blank-pos-top-left">↖️</label><!--
			--><input type="radio" name="blank-pos" id="blank-pos-top-right"><label for="blank-pos-top-right">↗️</label><br><!--
			--><input type="radio" name="blank-pos" id="blank-pos-bottom-left" checked><label for="blank-pos-bottom-left">↙️</label><!--
			--><input type="radio" name="blank-pos" id="blank-pos-bottom-right"><label for="blank-pos-bottom-right">↘️</label><!--
			--></div>
		</div>
		<div class="item">
			<div class="config-label">퍼즐에 숫자 표시하기</div>
			<input type="radio" name="show-label" id="show-label-none" checked><label for="show-label-none">안 함</label><!--
			--><input type="radio" name="show-label" id="show-label-phone"><label for="show-label-phone">휴대폰</label><!--
			--><input type="radio" name="show-label" id="show-label-keypad"><label for="show-label-keypad">키패드</label>
		</div>
		<div class="item" style="text-align: center;">
			<button id="config-close">닫기</button>
		</div>
	</div>
	<div id="article">
		<%= require("../README.md") %>
	</div>
	<span class="floating">
		<button id="show-config"><img src="/settings.svg"></button><br>
		<button id="show-info"><img src="/info.svg"></button>
	</span>
</body>
</html>