* {
	outline: none;
}

body {
	margin: 0;
	color: white;
	background-color: #292b2c;
}

body, button, select {
	font-family: "Noto Sans KR";
}

h1, h2, h3 {
	margin: 0;
	text-align: center;
	font-family: 'Exo 2', 'Noto Sans KR';
}

button {
	border: none;
	color: white;
	background-color: #292b2c;
	font-size: 100%;
	padding: 0.5em 1em;
	border-radius: 4px;
}

button:disabled {
	opacity: 0.5;
}

.game-button-group {
	display: flex;
	justify-content: center;
	margin: 10px;
}

#start {
	background-color: #007BFF;
}

#stop {
	background-color: #DC3545;
}

#next {
	background-color: #28A745;
}

#random {
	background-color: #17A2B8;
}

.area {
	display: flex;
	justify-content: center;
}

#first-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#timer-canvas {
	width: 240px;
}

#game-canvas {
	width: 360px;
}

#second-wrapper, #preview-canvas {
	width: 250px;
}

#story {
	margin: auto;
	font-weight: bold;
}

#config {
	height: 300px;
	background-color: #292b2c;
	border-radius: 20px;
	box-shadow: 0 1px 3px #00000080;
}

#config .item {
	display: flex;
	align-items: center;
}

#config .item.vertical {
	flex-direction: column;
}

.config-label { 
	font-weight: bold;
	padding: 0.25em 1em;
	cursor: default;
}

button.sizer {
	box-shadow: 0 1px 3px #00000080;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	width: 39px;
	height: 39px;
	padding: 0;
	border-radius: 50%;
}

#size-view {
	font-family: 'Exo 2';
	font-size: 1.2em;
	width: 45px;
	display: inline-block;
	text-align: center;
}

select {
	font-size: 100%;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	background-color: #313435;
	box-shadow: 0 1px 3px #00000080;
	display: inline-block;
	text-align: center;
	padding: 0.2em 1.2em;
}

input[type="radio"][name="blank-pos"] + label {
	font-size: 120%;
}

input:checked[type="radio"] + label {
	background-color: #007BFF;
	z-index: 1;
}

#config-close {
	box-shadow: 0 1px 3px #00000080;
}


#article, #config {
	width : calc(1000px - 20vw);
	max-width: calc(100vw - 2em);
	margin: auto;
}

ul {
	padding-inline-start: 20px;
}

ul li {
	margin-bottom: 1em;
}

.floating {
	position: fixed;
	top: 4px;
	right: 4px;
}

.floating button {
	box-shadow: 0 1px 3px #00000080;
	margin: 2px;
	padding: 0;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	border-radius: 20px;
}

footer {
	padding-top: 45px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 0.5rem;
}

a#link-to-arcalive {
	display: inline-block;
	padding:1em;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

a#link-to-arcalive :nth-child(1) {
	color: #9e9e9e;
}

a#link-to-arcalive :nth-child(2) {
	color: #9e9e9e;
}

@media (min-width : 768px) {
	#config-close, #config-close-wrapper, #show-config {
		display: none!important;
	}
	#config {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
	}
}

@media (max-width : 767px) {
	:root {
		font-size: 14px;
	}
	.area-fit {
		flex-direction: column;
		align-items: center;
	}
	#puzzle-preview {
		text-align: center;
	}
	#preview-canvas {
		width: 200px;
	}
	
	#config {

		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;

		position: fixed;
		width: unset;
		padding: 8px;
		gap : 8px;
		right: 50px;
		top: 5px;
	}

	
	#config[hidden] {
		display: none;
	}
}
